.about-container {
  margin: 3% 5% 5% 5%;
  width: 95%;
}

section h1 {
  margin-bottom: 25px;
  text-align: center;
}

.profile-text {
  margin: 3%;
}

@media (max-width: 899px) {
  .about-container {
    font-size: 120%;
    margin: 3%;
  }

  .profile-text {
    font-size: 170%;
    margin-top: 10%;
  }


  section h1 {
    font-size: 200%;
  }
}

@media (min-width: 900px) {
  .about-container {
    font-size: 180%;
  }
}

@media (min-width: 1024px) {
  .profile-text {
    font-size: 100%;
  }

  section h1 {
    font-size: 100%;
  }
}

@media (min-width: 1200px) {
  .about-container {
    font-size: 205%;
  }

  section h1 {
    font-size: 105%;
  }
}

@media (min-width: 1600px) {
  .about-container {
    font-size: 210%;
  }

  section h1 {
    font-size: 110%;
  }
}

@media (min-width: 1800px) {
  .about-container {
    font-size: 280%;
  }
}

@media (min-width: 2560px) {  
  .about-container {
    font-size: 350%;
  }
}
