.about-container {
  width: 95%;
  margin: 3% 5% 5% 5%;
}

.profile-pic {
  width: 17%;
  margin-right: 2%;
}

.profile-card {
  display: flex;
  flex-direction:row;
  font-weight: 700;
  margin-left: 40px;
}

.profile-info {
  margin: 0 5% 0 5%;
}

.cian-color {
  color:aqua;
}

.hp-bar {
  border: rgb(54, 155, 104) 2px solid;
  box-shadow: 0px 2px 0px 0px black;
}

.mp-bar {
  border: rgb(64, 105, 180) 2px solid;
  box-shadow: 0px 2px 0px 0px black;
}

.skill-bar {
  background-color: rgb(128, 122, 122);
  border: rgb(128, 122, 122) 8px solid;
  box-shadow: 0px 0px 0px 3px rgb(168, 167, 167);
  width: 190%;
}

.skill-bar:hover {
  background-color: rgb(207, 122, 122);
  border: rgb(207, 122, 122) 8px solid;
}

.progress-bar {
  margin-left: 3%;
}

.progress-bar p {
  margin-top: 10%;
}

section h1 {
  margin-bottom: 25px;
  text-align: center;
}

.profile-text {
  margin: 3%;
  text-align: justify;
}

@media (min-width: 800px) {
  .about-container {
    font-size: 70%;
  }
}

@media (min-width: 1200px) {
  .about-container {
    font-size: 150%;
  }

  .profile-card {
    margin: 2% 0 5% 5%;
  }
  
  .skill-bar {
    border: rgb(128, 122, 122) 8px solid;
    box-shadow: 0px 0px 0px 3px rgb(168, 167, 167);
    width: 200%;
  }


  section h1 {
    font-size: 150%;
  }
}

@media (min-width: 1800px) {
  .about-container {
    font-size: 220%;
  }

  .profile-card {
    margin: 2% 0 5% 5%;
  }

  .skill-bar {
    box-shadow: 0px 0px 0px 6px rgb(168, 167, 167);
    height: 5%;
  }
}
