main {
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

.FFMenu-style {
  background: linear-gradient(125deg, darkblue 30%, rgba(0,0,0,1) 100%);
  border: white 2px solid;
  border-radius: 7px;
  box-shadow: 0px 0px 0px 3px grey;
  color: white;
}

#projects-title-mobile{
  color: rgb(28, 221, 221);
  display: none;
  font-size: 230%;
  margin-bottom: 5%;
  text-align: center;
}

@media (max-width: 899px) {
  #projects-title-mobile{
    display: unset;
  }

  main {
    flex-direction: column;
    margin: 2%;
  }
}

@media (min-width: 900px) {
  main {
    height: 650px;
    margin: 8% 5% 8% 5%;
  }
}

@media (min-width: 1024px) {
  main {
    height: 600px;
  }
}

@media (min-width: 1200px) {
  main {
    height: 620px;
  }
}

@media (min-width: 1800px) {  
  main {
    height: 850px;
  }
}

@media (min-width: 2560px) {  
  main {
    height: 1000px;
  }
}
