@font-face {
  font-family: "FF-Font";
  src: url('../font/OPTIEngeEtienne.otf') format("truetype");
}

html {
  scroll-behavior: smooth !important;
}

header {
  background-image: url('../images/sword.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header a {
  display: flex;
  margin: 5% 0 0 20%;
}

header img {
  width:  5%;
  margin-right: 10px;
}

header p {
  font-size: 150%;
}

header h1 {
  font-family: FF-Font, serif;
  font-size: 750%;
  font-weight: 400;
  letter-spacing: 5px;
  text-align: left;
  width: 60%;
}

@media (min-width: 900px) {
  header {
    padding: 11%;
  }

  header h1 {
   font-size: 550%;
  }

  header img {
    width:  7%;
    margin-right: 10px;
  }

  header p {
    font-size:  180%;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 7%;
  }
}

@media (min-width: 1600px) {
  header {
    padding: 15%;
  }

  header img {
    width:  7%;
    margin-right: 10px;
  }

  header p {
    font-size:  180%;
  }
}

@media (min-width: 1800px) {
  header {
    padding: 10%;
  }

  header h1 {
    font-size: 1000%;
    letter-spacing: 5px;
    width: 60%;
  }

  header img {
    width:  7%;
    margin-right: 10px;
  }

  header p {
    font-size:  250%;
  }

  header a {
    margin: 8% 0 0 18%;
  }
}