@font-face {
  font-family: "FF-Font";
  src: url('../font/OPTIEngeEtienne.otf') format("truetype");
}

html {
  scroll-behavior: smooth !important;
}

header {
  background-image: url('../images/sword.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header a {
  display: flex;
  margin: 5% 0 0 20%;
}

#header-pointer {
  visibility: hidden;
  margin-right: 10px;
  width:  5%;
}

header a:hover > #header-pointer {
  visibility: visible;
}

header h1 {
  font-family: FF-Font, serif;
  font-size: 750%;
  font-weight: 400;
  letter-spacing: 5px;
  text-align: center;
  width: 60%;
}

.iniciar {
  font-size: 250%;
}

@media (max-width: 899px) {
  header {
    background-image: url('../images/swordMobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:7%;
  }

  header h1 {
    font-size: 350%;
    padding: 0 0 100% 0;
    width: 100%;
  }

  #header-pointer {
    width: 20%;
    margin-right: 10px;
  }

  .iniciar {
    font-size:  250%;
  }
} 

@media (min-width: 900px) {
  header {
    padding: 14%;
  }

  header h1 {
   font-size: 550%;
   letter-spacing: 5px;
   width: 70%;
  }

  #header-pointer {
    width: 7%;
    margin-right: 10px;
  }

  .iniciar {
    font-size:  220%;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 10%;
  }

  header h1 {
    font-size: 680%;
    letter-spacing: 5px;
    width: 60%;
  }

  #header-pointer {
    width: 5%;
  }
}

@media (min-width: 1400px) {
  header {
    padding: 12%;
  }

  header h1 {
    font-size: 750%;
    letter-spacing: 5px;
    width: 60%;
  }
}

@media (min-width: 1600px) {
  header {
    padding: 15%;
  }

  header h1 {
    font-size: 800%;
    letter-spacing: 5px;
    width: 60%;
  }

  #header-pointer {
    width:  6%;
    margin-right: 10px;
  }
}

@media (min-width: 1800px) {
  header {
    padding: 10%;
  }

  header h1 {
    font-size: 1000%;
    letter-spacing: 5px;
    width: 60%;
  }

  #header-pointer {
    width:  6%;
    margin-right: 10px;
  }

  .iniciar {
    font-size:  350%;
  }

  header a {
    margin: 8% 0 0 18%;
  }
}

@media (min-width: 2560px) {
  header h1 {
    font-size: 1150%;
  }

  .iniciar {
    font-size:  450%;
  }
}