.projects-container {
  color: white;
  display: flex;
  flex-direction: column;
  text-shadow: black 2px 2px;
  margin: 4%;
  width: 95%;
}

.project-thumb {
  width: 50%;
}

.project-card {
  display: flex;
  margin-top: 15px;
}

.project-info p {
  font-size: 120%;
  margin: 0 5% 0 5%;
  text-align: justify;
}

.project-links {
  display: flex;
  justify-content: center;
  margin: 4%;
}

.pointer {
  width: 50px;
}

.link-container {
  margin: 3%;
  font-size: 150%;
}

a:link {
  color: white;
  font-weight: 800;
  text-shadow: black 3px 3px;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(27, 177, 102);
}

@media (max-width: 899px) {
  .project-card {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .project-thumb {
    margin-bottom: 5%;
    width: 90%;
  }

  .link-container {
    display: flex;
    margin: 3%;
    font-size: 110%;
  }

  .pointer {
    margin-right: 4%;
    width: 30px;
  }
  
}

@media (min-width: 1200px) {
  .projects-container {
    font-size: 102%;
    margin: 5%;
  }

  .projects-container h1 {
    font-size: 180%;
  }
}

@media (min-width: 1800px) {
  .project-card {
    margin-top: 3%;
  }
  
  .projects-container {
    font-size: 135%;
    margin: 5%;
  }

  .projects-container h1 {
    font-size: 190%;
  }

  .project-thumb {
    width: 55%;
  }
}