.projects-container {
  color: white;
  display: flex;
  flex-direction: column;
  text-shadow: black 2px 2px;
  margin: 4%;
  width: 95%;
}

.project-thumb {
  width: 50%;
}

.project-card {
  display: flex;
  margin-top: 15px;
}

.project-info p {
  font-size: 180%;
  margin-left: 5%;
}

.project-links {
  display: flex;
  justify-content: center;
  margin: 4%;
}

.project-pointer {
  visibility: hidden;
  width: 40px;
}

.link-container {
  margin: 3%;
  font-size: 180%;
}

.link-container a {
  display: flex;
}

.link-container a:hover > .project-pointer {
  visibility: visible;
}

a:link {
  color: white;
  font-weight: 800;
  text-shadow: black 3px 3px;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(27, 177, 102);
}

@media (max-width: 899px) {
  .project-card {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .project-thumb {
    margin-bottom: 5%;
    width: 90%;
  }

  .link-container {
    display: flex;
    margin: 3%;
    font-size: 110%;
  }

  .project-pointer {
    margin-right: 4%;
    width: 30px;
  }
  
}

@media (min-width: 900px) {
  .projects-container {
    font-size: 130%;
    margin: 5%;
  }

  .projects-container h1 {
    font-size: 130%;
  }
}

@media (max-width: 1279px) {
  .link-container {
    font-size: 119%;
  }

  .project-card {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
  .project-info p {
    font-size: 125%;
    margin: 1%;
    width: 100%;
  }

  .project-pointer {
    margin-right: 4%;
    width: 30px;
  }

  .project-thumb {
    margin-bottom: 2%;
    width: 58%;
  }
}

@media (min-width: 1200px) {
  .projects-container {
    font-size: 100%;
    margin: 5%;
  }

  .projects-container h1 {
    font-size: 200%;
  }

  .project-thumb {
    margin-bottom: 2%;
    height: 80%;
    width: 50%;
  }
}

@media (min-width: 1360px) {
  .project-thumb {
    margin-bottom: 2%;
    width: 50%;
  }
}

@media (min-width: 1600px) {
  .projects-container {
    font-size: 110%;
    margin: 5%;
  }
}

@media (min-width: 1800px) {
  .project-card {
    margin-top: 3%;
  }
  
  .projects-container {
    font-size: 140%;
    margin: 5%;
  }

  .projects-container h1 {
    font-size: 190%;
  }

  .project-pointer {
    width: 50px;
  }

  .project-thumb {
    width: 55%;
  }
}

@media (min-width: 2560px) {
  .projects-container {
    font-size: 190%;
    margin: 5%;
  }

  .project-pointer {
    width: 70px;
  }

  .project-thumb {
    width: 48%;
  }
}